proj.ios_mac/SerialPic.xcodeproj/project.xcworkspace
proj.ios_mac/SerialPic.xcodeproj/xcuserdata
cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata
cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata
proj.ios_mac/SerialPic.xcodeproj/xcuserdata
